LINE_CHANNEL_SECRET=37432b20c10fef6538e4d43a9e24f980
LINE_CHANNEL_ACCESS_TOKEN=vOqGoloukY+q/veOs3Q6zxG75wnXlhWzrCwEJe1QidkGEib1qstVfYL75VkTZyC4DqvVademSj4IW8fZBsCKG8Q49zbAORC6nAUqT4mZOjUhFkGS3YSxYe0/nU2oK6EJaUurAzbGL1vYzOI1zTBiwQdB04t89/1O/w1cDnyilFU=
ANTHROPIC_API_KEY=your_anthropic_api_key_here
DATABASE_URL=sqlite:///./workout.db
